{% extends 'base.html.twig' %}
{% block title %}Tous les Produits{% endblock %}
{% block body %}
    <div class="container-fluid p-5">
		
						<h3 class="text-center">About</h3>
                        
  </div>


{% endblock  %}